/*

========================================================
 Background patterns are downloaded from www.subtlepatterns.com
 If you need more, that's where to get'em.
 ========================================================

*/

body
{
    background-image: url("../img/crossword.png");
}

.overlay-note
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 9;
    display: none;
}

#content
{
    background-color: whitesmoke;
    height: 40rem !important;

}

/** Styling of the notes **/

.card-footer
{
    margin: 25px 0 30px 0;
}

.small-details
{
    font-size: 12px;
}

.options-activator
{
    padding-top: 17px;
    padding-right: 10px;
    cursor: pointer;
}

.card-content
{
    cursor: pointer;
}

.modified-note
{
    background-color :#c62828;
}

.modified-note-icon
{
    vertical-align:middle;
    background-color:yellow;
    border-radius: 14px;
    padding:3px;
    margin : 0 0 3px 10px;
}

.edit-note
{
    margin-right: 10px;
    vertical-align: sub;
    color: #424242;
}

/** Styling of the notes **/




/** Styling for the navbar **/


nav ul a:hover
{
    background-color: transparent;
}

.user-details
{
    height: 120px;
    background: url(../img/24.jpg) -108% 22%;
    color: #444444;
}

.user-avatar
{
    margin: -10px 0 0 0;
}

.user-avatar img
{
    float: left;
    width: 64px;
    margin: 37px 0 0 19px;
}

.user-name
{
    display: inline-block;
    padding: 20px 0 0 0 !important;
    margin: 0 0 0 15px !important;
}

.user-rank
{
    display: block;
    padding: 0;
    margin: -40px 0 0 97px !important;
}

nav
{
    margin-bottom: 1.8rem;
}

.open-searchbar
{
    color: black;
    background-color : #fbc02d;
    margin-right: 0.8rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    border-radius: 35px;

}

.open-sidenav
{
    color : black;
    background-color : #fbc02d;
    margin-left: 0.8rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    border-radius: 35px;
}

.search-bar
{
    background-color: #fbc02d !important;
    margin: 17px -13px 0 7px !important;
    width: 450px !important;
    padding: 0 0 0 5px !important;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    color: #000;
}
/** Styling for the navbar **/




/** Styling the rating stars **/

.hour{
	margin-top : 10px;
	margin-left : 20px;
}


#modal_rate
{
    height:200px;
}

.rating-modal-content
{
    margin-top: 35px;
}

.collection-item a 
{
    color: #e0e0e0;
}

.checked-star
{
    color: #FFCE1B;
}
/** Styling the rating stars **/






/** Styling share modal **/

.sendto-item
{
    cursor: Pointer;
}


.sendto-item a
{
    color : #e0e0e0;
}
/** Styling share modal **/


/** Styling add not form **/

.add-note-contaier
{
    padding: 45px 10px 10px 10px !important;
}

.color-select, .module-select
{
    padding-left: 10px !important;
}

/** Styling add note form **/


/** Styling of the cover **/

.cover
{
    position: relative;
    top: -91px !important;
    left:0 !important;
    height: 40rem;
    background: url(../img/jpg/5.jpg) 50% 50%;
    z-index: -100;
}

.cover-avatar
{
    margin-top: 15rem;
    border: 10px solid white;
    text-align: center;
}

.custom-tabs
{
    margin-top: 173px;
    width: 74% !important;
    background-color: rgba(255,255, 255, 0.6) !important;
    border-radius: 5px;
}

.custom-tabs > li > a
{
    color : #0a0a0a !important;
    font-weight: bold;
}

.indicator
{
    color: #0a0a0a !important;
}
/** Styling of the cover **/

/** Styling of the profile **/

.profil-tab
{
    padding: 35px 15px 70px 50px !important;
    margin-top: -91px !important;
}

/** Styling of the profile **/

/** Styling of the friends **/

.friend-card {
    padding-bottom: 0px !important;
}

.friend-card-content
{
    padding-top: 23px !important;
}

.friend-card-content img
{
    margin-right: 15px;
}

.friend-card-action
{
    position: relative;
    border : none !important;
    margin-top: -22px;
    margin-left: 230px !important;
}
/** Styling of the friends **/