/** Styling of the notes **/

/** Styling of the notes **/


/** Styling for the navbar **/
.open-searchbar
{
    color: black;
    background-color : #fbc02d;
    margin-right: 0.8rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    border-radius: 35px;

}

.open-sidenav
{
    color : black;
    background-color : #fbc02d;
    margin-left: 0.8rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    border-radius: 35px;
}
/** Styling for the navbar **/


/** Styling the rating stars **/


.rating {
    direction: rtl;
    text-align: center;
    unicode-bidi: bidi-override;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    font-size:20;
}
.rating > span:hover, .rating > span:hover ~ span {
    color: transparent;
}
.rating > span:hover::before, .rating > span:hover ~ span::before {
    color: blue;
    content: "★";
    left: 0;
    position: absolute;
}


/** Styling the rating stars **/
